.header {
    width: 98%;
    height: 90px;
    padding: 5px 1%;
    background-color: white;
    display: flex;
    justify-content: space-between; 
}
.header-item-div {
    width: 90px;
    height: 90px;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    text-align: center;
    .header-item {
        width: 90px;
        height: 90px;
        border-radius: 45px;
        outline: none;
    }
}
.header-item-div-active {
    width: 70%;
    -moz-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    text-align: center;
    .header-item {
        transition-duration: 1.5s;
        width: 120px;
        height: 120px;
        border-radius: 60px;
        border: none;
        outline: none;
    }
}