<div class="header">
    <div [ngClass]="header.active ? 'header-item-div-active' : 'header-item-div'"  *ngFor="let header of headerItems">
        <button (click)="onMakeActive(header)" [ngStyle]="{'background-color': header.background}" class="header-item"></button>
    </div>
</div>
