.background {
    background: url(~/assets/images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 90%;
    padding: 3% 5%;
    display: table;
    justify-content: center;
    align-items: center;
    z-index: -1;
  }